<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link rel="stylesheet" href="mainPage.css">
    <script rel="mainPage.js" src="mainPage.js"></script>
</head>
<body>
    <div class="Feed">
        <div class="Post" id=1>
            <div class="Username">
                <div>testusername</div>
            </div>
            <div class="TextBox">
                <div>text content</div>
            </div>
            <div class="BottomBar">
                <div class="TimeStamp">4/12/2024</div>
                <div class="BottomBar">
                    <button class="Commentbutton" onclick="ShowComments()">Comment &nbsp</button>
                    <button class="Likebutton">♡</button>
                    <button type="submit" class="Deletebutton">Delete &nbsp</button>
                </div>
            </div>
            <div class="CommentFeed">
                <div class="Comment" id = -1>
                    womp womp v2 electric boogaloo
                </div>
                <div class="Comment" id = -1>
                    womp womp v3 electric boogaloo
                </div>
            </div>
        </div>
        <div class="Post" id=2>
            <div class="Username">
                <div>testusername</div>
            </div>
            <div class="TextBox">
                <div>text content</div>
            </div>
            <div class="BottomBar">
                <div class="TimeStamp">4/12/2024</div>
                <div class="BottomBar">
                    <button class="Comment">Comment &nbsp</button>
                    <button class="Like">♡</button>
                    <button type="submit" class="Delete">Delete &nbsp</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>